nav {
    height: 70px;
    width: 97vw;
    background-color: #D5EAD7;
    padding-top: 20px;
    padding-left: 50px;
}

.heading-app {
    font-weight: 600;
    font-size: 32px;
    color: rgb(79, 79, 95);
}

.main-div {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.new-tasker {
    width: 650px;
    height: 400px;
    padding: 20px;
}

.task-shower {
    width: 800px;
    min-height: 450px;
    max-height: 550px;
    background-color: #010A1B;
    margin-left: 20px;
    border-radius: 8px;
    padding: 10px;
    color: white;
    overflow: auto;
}

.mytasks {
    font-size: 32px;
    background-color: #8BCA7B;
    height: 50px;
    padding: 5px;
    padding-left: 100px;
}

.newTaski:active {
    outline: none;
    border: 0px;
}

input {
    height: 40px;
    width: 400px;
    background-color: #8BCA7B;
    padding: 10px;
    font-size: 28px;
    border: 0px !important;
    color: #FFFFFF;
}

input:active {
    /* outline: none; */
    border: 0px !important;
}

button {
    height: 63px;
    width: 150px;
    font-size: 28px;
    background-color: #EE9255;
    color: white;
    cursor: pointer;
}

.tadks-div-sm {
    width: 750px;
    padding: 10px;
    font-size: 24px;
    box-shadow: 0px 8px 16px 0px rgba(224, 207, 207, 0.2);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #EE9255;
}

.task-head-and-del {
    display: flex;
    flex-direction: row;
}

.delete-icon {
    margin-left: 550px;
    cursor: pointer;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1;
    /* Firefox */
}

.invi {
    display: none;
}

.vis {
    display: block;
}

.github-link {
    margin-left: 900px;
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: #8BCA7B;
    border-radius: 8px;
    font-weight: 600;
}

.github-link:hover {
    background-color: #8BCA7B;
    font-weight: 600;
}